<form action="/login" method="POST">
  <% if params[:error] %>
  <p>Error: <%= params[:error] %></p>
  <% end %>
  Email: <br>
<input type="text" name="email">
Password <br>
<input type="password" name="password">
<input type="submit">

</form>