<!DOCTYPE html>
<html lang="en">
<head>

 <link rel="stylesheet" href="/css/normalize.css">
 <link rel="stylesheet" href="/css/application.css">
 <!-- <link rel="external" type="rb" href="../models/API"> -->
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script type="text/javascript" src="/js/application.js"></script>

<title></title>
</head>
<header>
  <% if current_user %>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
  <% end %>
</header>
<body>
  <%= yield %>
</body>
</html>
