<div class="container">
  <header>Your Weather Connection</header>
  <div>

<h2>Returning Users</h2>
<form action="/login" method="post">
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>
<br>
<h2>New Users</h2>
<form action="/homepage" method="post">
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>






  </div>


</div>